/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 19, 2024, 12:19:03 AM
    Author     : DELL
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFA726; /* Màu cam */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF; /* Màu trắng */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 10px 0;
    font-size: 24px;
    color: #FFA726; /* Màu cam */
}

.btn-campus {
    background-color: #FFA726; /* Màu cam */
    border: none;
    color: #FFF; /* Màu trắng */
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-campus:hover {
    cursor: pointer;
    background-color: #FF9800; /* Màu cam nhạt khi hover */
}

.lecturer-section {
    background-color: #FFECB3; /* Màu vàng cam */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.lecturer-section h2 {
    margin-bottom: 10px;
    color: #FFA726; /* Màu cam */
}

.lecturer-section ul {
    list-style-type: none;
    padding: 0;
}

.lecturer-section ul li {
    margin-bottom: 10px;
}

.lecturer-section ul li a {
    text-decoration: none;
    color: #333;
}

.lecturer-section ul li a:hover {
    color: #FFA726; /* Màu cam */
}
